#block-emailmodule-email #responsible-email-form label,
#block-emailmodule-email #responsible-email-form .grippie
{
	display: none;
}
#block-emailmodule-email #responsible-email-form
{
    text-align: center;
    margin-top: 30px;
    background-color: #fbeade;
    background-image: url("../images/FONDO_FORMULARIO.png");
    background-repeat: no-repeat;
    background-position: right top;
    padding: 47px 0px 47px 0px;

}
.node-type-producto #block-emailmodule-email #responsible-email-form,
.node-type-patente #block-emailmodule-email #responsible-email-form
{
	background-image: url("../images/INCONO_INFORMACION.png");
	background-color: #e2eaf4;
}
 #block-emailmodule-email #responsible-email-form > p
{

	font-family: Arial, Helvetica, sans-serif;
	font-size: 22px;
	font-weight: bold;
	line-height: 20px;
	margin-bottom: 22px;

}
#block-emailmodule-email #responsible-email-form input[type="text"],
#block-emailmodule-email #responsible-email-form textarea
{
	width: 315px;
	margin: 0px 0px 10px 0px;
	padding:4px 15px 4px 15px;

	border:1px solid;
	border-radius: 4px;
	border-color: #ccc;

	background-color: rgb(255, 255, 255);	
	
	cursor: auto;
	display: inline-block;

	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-stretch: normal;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;

	outline: none;
	text-align: start;
	text-indent: 0px;
	text-rendering: auto;
	text-shadow: none;
	text-transform: none;	
	word-spacing: 0px;
	writing-mode: lr-tb;
	vertical-align: middle;
}


#block-emailmodule-email #responsible-email-form button
{
	
	-webkit-appearance: none;
	align-items: flex-start;
	background-attachment: scroll;
	background-clip: border-box;
	

	background-origin: padding-box;
	background-size: auto;
	

	
	border-image-outset: 0px;
	border-image-repeat: stretch;
	border-image-slice: 100%;
	border-image-source: none;
	border-image-width: 1;	
	border-style: none;	
	border-color:rgb(247, 154, 12);
	border-top-style: none;
	border-width: 0px;

	box-sizing: border-box;
	color: white;
	cursor: pointer;

	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-stretch: normal;
	font-style: normal;
	font-variant: normal;
	font-weight: bold;
	height: 41px;
	letter-spacing: normal;
	line-height: 20px;
	
	padding: 11px 28px 10px 28px;
	
	margin: 0px;
	min-width: 100px;
	text-align: center;
	text-decoration: none;
	text-indent: 0px;
	text-rendering: auto;
	text-shadow: none;
	text-transform: none;
	vertical-align: middle;
	width: 100px;
	word-spacing: 0px;
	writing-mode: lr-tb;
	-webkit-writing-mode: horizontal-tb;
}

#block-emailmodule-email #responsible-email-form label,
#block-emailmodule-email #responsible-email-form  label a,
#block-emailmodule-email #responsible-email-form input,
#block-emailmodule-email #responsible-email-form textarea
{
	color:#e47516;
}
#block-emailmodule-email label a
{
	text-decoration: underline;
}
#block-emailmodule-email #responsible-email-form input:focus,
#block-emailmodule-email #responsible-email-form textarea:focus
{
	border:1px solid;
}
.node-type-grupo-investigaci-n #block-emailmodule-email #responsible-email-form input:focus,
.node-type-grupo-investigaci-n #block-emailmodule-email #responsible-email-form textarea:focus
{
	border-color:#e47516;
    box-shadow: 0 1px 1px rgba(0,0,0,.075) inset,0 0 8px rgba(228,117,22,.6);
}
#block-emailmodule-email #responsible-email-form label[for="edit-polity"]
{
	display: block;
}
.node-type-producto #block-emailmodule-email #responsible-email-form label,
.node-type-producto #block-emailmodule-email #responsible-email-form label a,
.node-type-producto #block-emailmodule-email #responsible-email-form input,
.node-type-producto #block-emailmodule-email #responsible-email-form textarea,
.node-type-patente #block-emailmodule-email #responsible-email-form label,
.node-type-patente #block-emailmodule-email #responsible-email-form label a,
.node-type-patente #block-emailmodule-email #responsible-email-form input,
.node-type-patente #block-emailmodule-email #responsible-email-form textarea
{
	color:#3b75b3;
}
.node-type-producto #block-emailmodule-email #responsible-email-form input:focus,
.node-type-patente #block-emailmodule-email #responsible-email-form textarea:focus
{
	border-color: #3b75b3;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.0745098) inset, 0px 0px 8px rgba(82, 168, 236, 0.6) ;
}
#block-emailmodule-email #responsible-email-form button
{
	background-color:  #e47516;
}
#block-emailmodule-email #responsible-email-form button:hover
{
	background-color: #F79A0C;
}
.node-type-producto #block-emailmodule-email #responsible-email-form button,
.node-type-patente #block-emailmodule-email #responsible-email-form button
{
	background-color: #386EA9;
}
.node-type-producto #block-emailmodule-email #responsible-email-form button:hover,
.node-type-patente #block-emailmodule-email #responsible-email-form button:hover
{
	background-color: #548DCC;
}
#block-emailmodule-email #responsible-email-form .error-processed input
{
	border:1px solid rgb(255,0,0);
	box-shadow: rgb(255,0,0) 0px 1px 1px 0px inset,rgb(255,0,0) 0px 0px 8px 0px;
}